.login-div
{
    margin: auto;
    width:51%;
}
.login-container
{
    background-color: #245387;
    padding-top: 200px;
    padding-bottom: 200px;
}
.login-form
{
    background-color: #3377C2;
    border-radius: 8px;
    padding-left: 75px;
    padding-right: 75px;
}
.submit-btn
{
    background-color: #7ADAAA !important;
    width: 100px;
    font-size: 14px  !important;
    box-shadow: 2px 5px 12px rgb(0 0 0 / 36%);
}
.custom-input
{
    height: 50px !important;
    background-color: #EAF1F9 !important;
    color: #3377C2 !important;
}
.center-white
{
    text-align:center;
    color:#fff;
    font-weight: 100;
}
.input-icons
{
    height: 50px;
    width: 50px;
    text-align: center;
    color: #8FAABB;
    background-color: #FEFFFF;
    font-size: 18px;
    border-radius: 5px 0px 0px 5px;
}
.input-icons svg{
    margin-left: 3px;
    margin-top: 32%;
}
a:hover {
    color: #fff !important;
}
@media screen and (max-width:767px) {
    .login-div {
        width: 100%;
    }
    .login-form {
        padding-left: 5%;
        padding-right: 5%;
    }
    .login-container {
        padding-top: 35%;
    }
}